/*-------------
 	General
-------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

hr{
	height: 1px;
	background-color: #eeeeee;
	border: 0;
	margin: 20px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25%;
}

@media (max-width: 1000px){

	section{
		padding: 10px 10%;
	}

}

@media (max-width: 600px){

	section{
		padding: 10px 5%;
	}

}

section h2{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 15px;
	text-align: center;
}

section p{
	max-width: 500px;
	text-align: left;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

/*-------------
 	Header
-------------*/

header{
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000000;
	padding: 35px 100px 0;
}

header h1{
	color: #111111;
	text-transform: capitalize;
	font: bold 40px 'Open Sans', sans-serif;
}

header nav ul{
	display: flex;
}

header nav ul li{
	margin: 0 5px;
}

header nav ul li:first-child{
  margin-left: 0;
}

header nav ul li:last-child{
  margin-right: 0;
}


@media (max-width: 1000px){

	header{
		padding: 10px 10%;
	}
}

@media (max-width: 600px){

	header{
		padding: 10px 5%;
		flex-direction: column;		
	}
}




/*-------------
 	About Me Section
-------------*/
.aboutme{
	flex-direction: row;
}

.aboutme img {
  border-radius: 50%;
  max-width: 250px;
}

@media (max-width: 600px){
	.aboutme{
		flex-direction: column;		
	}
	.aboutme img {
    border-radius: 50%;
    max-width: 150px;
  }
}

/*-------------
@media (max-width: 1000px){
	.aboutme{
		flex-direction: column;		
	}
	.aboutme img {
    border-radius: 50%;
    max-width: 200px;
  }
}
-------------*/

/*-------------
 	Publications Section
-------------*/
.publications #bibtex_display{
	margin-right: auto;
}

/*-------------
 	Resources Section
-------------*/
.resources ul{
	margin-right: auto;
}

.resources ul li p{
	padding-left: 10px;
}


/*-------------
 	Contact Section
-------------*/

.contact{
	background-color: #f7f7f7;
}
.contact .tel{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}


.contact .tel p{
	margin-bottom: 5px;
}
.contact .icons{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.contact .icons li{
	margin: 10px 5px;
}

.contact .icons img{
	height: 24px;
	width: 24px;
}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 20px 0;
}


